.img-thumbnails {
  display: flex;
  position: relative;
  box-sizing: content-box;
  & :nth-child(2){
    //transform: translateX(-50%)
    left:-10%;
  }
  & :nth-child(3){
    right: 1.6rem;
    // left: -20%;
  }
  & :nth-child(4){
    right: 3.2rem;
  }
  & :nth-child(5){
    right: 4.8rem;
  }
  .img-thumbnail {
    height: 25px;
    position: relative;
    display: inline;
  }
}