.productdiv {
    display: grid;
    // justify-content: center;
    margin: 2rem 1rem;
}

.productimg {
    object-fit: contain;
    width: 100%;
    height: auto;
}
.productdetail {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;

}

@media (min-width:500px){
    .productdetail {
        flex-direction: column;
        margin: 0;
    }
    .productdiv {
        background: #FFFFFF;
        box-shadow: 0px 34px 68px rgba(217, 225, 244, 0.36);
        border-radius: 15px;
        padding: 1rem;
        
    }
  
}

