

.container {
    display: grid;
    margin: auto;
    padding: 1rem;
    // border: 10px solid green;
}
.fandsby {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 .8rem;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
    border-radius: 15px; 
    margin: 1.5rem 0;
}
.filter, .sortby {
    display: flex;
    gap: .8rem;
    justify-content: space-between;
    align-items: center;
}
.fandsby img, .sortby img , .filter2 > div > h3 img {
    object-fit: contain;
    width: auto;
    height: 6px;
}

.loadmore {
    display: flex;
    float: right;
    align-items: center;
    margin: 2rem 0;
}
.loadmore span {
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.5px solid #000000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 1rem;
}
.loadmore span img {
    object-fit: contain;
    width: 34px;
    height: 22px;
}

.seconddiv{
    display: none;
}

.search2 {
    display: none;
}
.productmaindiv {
    gap: 2rem;
    margin: 1.5rem 0;
}
@media (min-width: 500px) {
    .productmaindiv{
        display: grid;
        grid-template-columns: auto auto;
        
    }
}
@media (min-width: 700px) {
    .container{
        grid-template-columns: 20% 70%;
        justify-content: space-between;
        gap: 2rem;
    }
    .firstddiv {
        display: none;
    }
    .seconddiv {
        display: block;
        
    }
    .filter1 {
        display: flex;
        gap: 10px;
        padding-bottom: 5px;
        border-bottom: 5px solid #AFB091;
        border-radius: 2px;
        margin: 1.5rem 0;
        
    }
    .filter1 img {
        object-fit: contain;
        width: 18px;
        height: auto;
    
    }
    .filter2 {
        display: grid;
        gap: 2.5rem;
    }
    .filter2 > div > h3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;


    }
    .fandsby {
        display: none;
    }
    .fourthddiv {
        display: none;
    }
    .search1 {
        display: flex;
        background: #F4F2F2;
        border-radius: 15px;
    }
    .search2 {
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 1rem;
        // width: 913px;
        // height: 91px;
    }
    
}

@media (min-width: 1200px){
    .productmaindiv{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}